* {
    color: black
}

/* selektor laczony */
div.background  {
    background-color: green;
}

/* selektor bezpośrednioego potomka */

li > a {
    color: violet;
}

/* selektor potomka */

li a {
    color: black;
}

/* selektor bezpośrednioego potomka */

nav + .background {
    background-color: limegreen;
}

.toThree {
    width: 200px;
    height: 200px;
    background-color: black;
}

/* psudoklasy (najechanie myszką) */    

li a:hover {
    color: black
}

input:focus {
    border: 1.5px solid black;
    outline: 0;
}

ul li:first-child a {
    color: violet;
}

ul li:last-child a {
    color: pink;
}

ul li:first-of-type a {
    color: yellow;
}

/* an + b - a co ile skaczemy, b od którego zaczynamy */

ul li:nth-last-of-type(3n + 2) a {
    color: orange;
}

/* selektor atrybutu
wszystkie kolory które posiadają dany atrybut (typ) */

[type] {
    background-color: grey;
}

input[title="pierwszy input"] {
    background-color: orange;
}

input[title="drugi input"] {
    background-color: red;
}


/* wartość odzielona spacja */
/* specjalny błąd w "input" */
inpu[title~="input"] {
    background-color: red;
}

/* czy znajduje się dany ciąg znaków */

input[title*="ty"] {
    background-color: aqua;
}

/* czy zaczyna się na konkretny ciąg znaków */

input[title^="p"] {
    background-color: green;
}

/* czy dany ciąg znaków kończy się na ... */
/* specjalny błąd w atrybucie */

input[title$="inpu"] {
    background-color: olive;
}

/* hierarchia css */
/* id > . */

#main-nav .ul {
    background-color: gray;
}

.main-nav #ul {
    background-color: indigo;
}

